@media (min-width: 320px) and (max-width: 500px){
    .card-container{
        width: 100%;
        padding: 35px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        height: 35vh;
        width: 75vw;
        background-color: whitesmoke;
        border-radius: 4px;
        padding-bottom: 145px;
        margin-top: 40px;
    }
}

@media (min-width: 501px) and (max-width: 600px){
    .card-container{
        width: 100%;
        padding: 35px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        height: 35vh;
        width: 75vw;
        background-color: whitesmoke;
        border-radius: 4px;
        padding-bottom: 200px;
        margin-top: 40px;
    }
}

@media (min-width: 601px) and (max-width: 699px){
    .card-container{
        width: 100%;
        padding: 35px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        height: 35vh;
        width: 65vw;
        background-color: whitesmoke;
        border-radius: 4px;
        padding-bottom: 230px;
        margin-top: 50px;
    }
}

@media (min-width: 700px){
    .card-container{
        width: 100%;
        padding: 35px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center center;
        justify-content: space-evenly;
    }
    .card{
        height: 80%;
        width: 26%;
        background-color: whitesmoke;
        border-radius: 4px;
        padding-bottom: 30px;
    }
}

.card-img{
    max-width: 100%;
    border-radius: 3px;
}

.card:hover{
    opacity: 0.5;
}


@media (min-width: 320px) and (max-width: 699px){
    .span-flex-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
    }    
    .add-button{
        padding: 15px;
        background-color: rgb(29, 28, 26);
        border: none;
        border-radius: 3px;
        margin: 10px;
        margin-left: 45px;
        width: 45%;
        color: whitesmoke;
    }
    .see-more-button{
        padding: 15px;
        width: 20%;
        margin-left: 25px;
        background-color: rgb(177, 140, 40);
        border: none;
        border-radius: 3px;
    }
}

@media (min-width: 700px){
    .span-flex-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
    }    
    .add-button{
        padding: 15px;
        background-color: rgb(29, 28, 26);
        border: none;
        border-radius: 3px;
        margin: 10px;
        margin-left: 15px;
        width: 65%;
        color: whitesmoke;
    }
    .add-button:hover{
        background-color: rgb(15, 15, 14);
        cursor: pointer;
    }
    .see-more-button{
        padding: 15px;
        width: 20%;
        background-color: rgb(177, 140, 40);
        border: none;
        border-radius: 3px;
    }
    .see-more-button:hover{
        background-color: rgb(122, 94, 18);
    }
}

@media (min-width: 320px) and (max-width: 699px){
    .info-modal{
        height: 40vh;
        width: 60vw;
        margin-top: 200px;
        margin-left: 100px;
        background-color: whitesmoke;
    }
    .modal-header{
        background-color: rgb(15, 15, 14);
        padding: 25px;
        color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .info{
        padding: 15px;
    }
}

@media (min-width: 700px){
    .info-modal{
        height: 50vh;
        width: 400px;
        margin-top: 200px;
        margin-left: 400px;
        background-color: whitesmoke;
    }
    .modal-header{
        background-color: rgb(15, 15, 14);
        padding: 25px;
        color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .info{
        padding: 15px;
        margin-left: 35px;
    }
}




