.hidden{
    display: none;
}

.link{
    text-decoration: none;
    color: whitesmoke;
}

.x-button{
    border: none;
    background-color: transparent;
    color: whitesmoke;
}
.x-button:hover{
    cursor: pointer;
}

.x-button-black{
    border: none;
    background-color: transparent;
    color: black;
}
.x-button-black:hover{
    cursor: pointer;
}
