@media (min-width: 320px) and (max-width: 699px){
    .footer{
        bottom: 0;
        background-color: rgb(27, 25, 25);
        width: 100%;
        box-sizing: border-box;
        color: whitesmoke;
        padding: 10px;
    }
    .textarea{
        background-color: rgb(27, 25, 25);
        width: 70vw;
        height: 40px;
        border-radius: 3px;
        border: 0.5px solid rgb(73, 73, 73);
        padding-left: 15px;
    }
    .focusIn{
        width: 70vw;
        height: 40px;
        background-color: whitesmoke;
        border: 2px solid rgb(3, 23, 41);
        padding-left: 15px;
    }
    .icons-container{
        padding: 20px;
    }
}


@media (min-width: 700px){
        .footer{
        bottom: 0;
        background-color: rgb(27, 25, 25);
        width: 100%;
        box-sizing: border-box;
        color: whitesmoke;
        padding: 10px;
        padding-top: 65px;
        padding-bottom: 50px;
    }
    .footerAfterEvent{
        bottom: 0;
        background-color: rgb(27, 25, 25);
        width: 100%;
        box-sizing: border-box;
        color: whitesmoke;
        padding: 10px;
        height: 300px;
        transition: all 2s linear;
    }
    .textarea{
        background-color: rgb(27, 25, 25);
        width: 70vw;
        height: 40px;
        border-radius: 3px;
        border: 0.5px solid rgb(73, 73, 73);
        margin-left: 80px;
        padding-left: 15px;
    }
    .focusIn{
        width: 70vw;
        height: 40px;
        margin-left: 80px;
        background-color: whitesmoke;
        border: 2px solid rgb(3, 23, 41);
        padding-left: 15px;
    }
    .icons-container{
        padding: 20px;
        margin-left: 80px;
    }
}

.comments-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.span-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}

.comment-buttons{
    margin-left: 30px;
    border: none;
    border-radius: 3px;
    width: 115px;
    padding: 15px;
    color: whitesmoke;
}

.publish-button{
    border: 1px solid rgb(177, 140, 40);
    background-color: rgb(27, 25, 25);
}
.publish-button:hover{
    background-color: rgb(177, 140, 40);
}

.delete-button{
    border: 1px solid rgb(121, 42, 42);
    background-color: rgb(27, 25, 25);
}
.delete-button:hover{
    background: rgb(121, 42, 42);
}

.li{
    list-style: none;
    text-decoration: none;
    margin-left: 100px;
    padding: 5px;
}

#contact i{
    color: rgb(204, 200, 200);
    font-size: 29px;
    margin-right: 15px;
}

.bounce{
    animation: bounce 0.5s 4 linear;
    display: inline-block;
  }
  @keyframes bounce {
      0% {  transform: translateY(0); }
      50% { transform: translateY(-5px); }
      70% { transform: translateY(-10px); }
      100% { transform: translateY(0); }
  }
