.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.span-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

.inputs{
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
}
