html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}  

main{
    max-width: 1300px;
    margin: 0 auto;
}

/**FONDO*-------------------------------------*/

@media (min-width: 400px) and (max-width: 699px){
    #hero {
        background-image: url(../assets/images/white.jpg);
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto; 
    }
    #hero img {
    width: 100%;  
    }
}


@media (min-width: 700px){
    #hero {
        background-image: url(../assets/images/white.jpg);
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto; 
    }
    #hero img {
    width: 100%;  
    }
}

/*FIRST FIXED IMAGE* - CORTAZAR IMG*/

@media (min-width: 400px) and (max-width: 699px){
    #half-hero{
        background-image: url(../assets/images/Cortazar.jpg);
        height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #half-hero img {
        width: 100%;  
    }
    .half-title{
        display: none;
    }
}

@media (min-width: 700px){
    #half-hero{
        background-image: url(../assets/images/Cortazar.jpg);
        height: 80vh;
        background-attachment: fixed;
        background-repeat: inherit;
        display: flex;
        flex-direction: row-reverse;
        
    }
    #half-hero img {
        width: 100%;  
    }
    
    .half-intrusive{
        background-color: rgba(21, 22, 22);
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .half-title{
        color: whitesmoke;
        width: 320px;
        height: 200px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}

/*SECOND FIXED IMAGE - WHITE*/

@media (min-width: 400px) and (max-width: 699px){
    #second-half-hero{
        background-image: url(../assets/images/Geo.jpg);
        height: 80vh;
        background-color: rgb(245, 244, 234);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title-span{
        background-color: rgba(0, 0, 0, 0.589);
        width: 65vw !important;
        border-radius: 4px;
        padding: 15px;
    }
    .title{
        color:whitesmoke;
        text-align: center;
    }
}

@media (min-width: 700px){
    #second-half-hero{
        background-image: url(../assets/images/Geo.jpg);
        height: 80vh;
        background-color: rgb(245, 244, 234);
        background-attachment: fixed;
        background-position: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .title-span{
        background-color: transparent !important;
        width: 45vw !important;
    }
    .title{
        color:black;
    }
}


.size-image{
    width: 700px;
    height: 300px;
    margin-left: 250px;
    margin-top: 200px;
    position: relative;
}

.x{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}
